body {
  background-color: #f5f5f5;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}
/* Add a black background color to the top navigation bar */
  #topnav {
    overflow: hidden;
    background-color: maroon;
  }
  
  /* Navigation bar buttons */
  #topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  #topnav a:hover {
    background-color: gold;
    color: black;
  }
  
  /* Highlight the current page */
  #topnav a.active {
    background-color: gold;
    color: white;
  }
  
  /* Search box */
  #topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  .review {
    border: 3px;
    border-style: solid;
    border-color: maroon;
    margin: 6px 6px;
    padding: 5px 5px;
}

.locationProf {
  border: 3px;
  border-style: solid;
  border-color: maroon;
  margin: 6px 6px;
  padding: 5px 5px;
}

#addReviewButton {
  background-color: maroon;
  color: gold;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}


#addNewLocationButton, #submitNewLocationButton {
  background-color: maroon;
  color: gold;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

#ratePage {
  padding-top: 25px;
  padding-left: 10px;
}

#reviewReceived {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  line-height: 2em;
}